.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.row {
    width: 100%;
    overflow: auto;
}


.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.offset-one-eighth{
    margin: 12.5%;
}

.one-half {
    width: 50%;
}
.one-third {
    width: 33.33%;
}
.one-fourth {
    width: 25%;
}
.one-eighth {
    width: 12.5%;
}
.one-sixth{
    width: 16.67%;
}
.one-whole{
    width: 100%;
}