.fancy-header {
    color: purple;
    text-align: center
}
h1, h2{
    color: purple;
    text-decoration: underline;
}
body {
    background-color: #dcdc93;
    background-image: url(http://lorempixel.com/100/70/);
    background-repeat: no-repeat;
    font-family: 'Volkhov', serif;
}
ul {
    list-style: circle;
}

td, tr{
    padding: 3px;
    font-size: 20px;
}
a:link {
    color: #000180;
}
a:visited {
    color:blue;
}
a:hover {
    font-weight: bold;
}
a:active {
    color:purple;
    text-decoration: none;